.sideMenu {
    width: 22%;
    height: 100%;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background: var(--bgColor);
    box-shadow: 1px 1px 15px rgba(1, 97, 232, 0.1), 1px 1px 15px rgba(155, 0, 232, 0.35);
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
  }
  
  /* Logo styling */
  .sideMenu .logo {
    font-family: 'Bauhaus 93';
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  /* Nav styling */
  .sideMenu .nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
  }
  
  .sideMenu .nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    gap: 25px;
    transition: 0.3s ease;
    background: var(--bgColor);
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
  }
  
  .sideMenu .nav li a:hover,
  .sideMenu .nav li a.active {
    box-shadow: -5px -5px 15px rgba(1, 97, 232, 0.1), 5px 5px 15px rgba(155, 0, 232, 0.35);
  }
  
  .sideMenu.active {
    width: 7%;
    transition: 0.3s ease;
    overflow: hidden;
    align-items: center;
  }
  
  .sideMenu.active .brand,
  .sideMenu.active .navName {
    display: none;
  }
  

  @media (max-width: 768px) {
    .sideMenu {
      position: fixed;
      left: 0;
      top: 0;
      width: 60%;
      height: 100%;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
  
    .sideMenu.active {
      transform: translateX(0);
    }
  }
  
  @media (max-width: 480px) {
    .sideMenu {
      width: 80%;
    }
  }
  